[submodule "link/.vim"]
	path = link/.vim
	url = git://github.com/sevos/vimfiles.git
[submodule "libs/z"]
	path = libs/z
	url = git://github.com/rupa/z.git
[submodule "libs/git-extras"]
	path = libs/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "libs/ack"]
	path = libs/ack
	url = git://github.com/petdance/ack.git
[submodule "libs/local_bin"]
	path = libs/local_bin
	url = git://github.com/sevos/local_bin.git
[submodule "libs/tmux-powerline"]
	path = libs/tmux-powerline
	url = https://github.com/sevos/tmux-powerline.git
[submodule "libs/powerline"]
	path = libs/powerline
	url = https://github.com/Lokaltog/powerline.git
