Host github.com
  IdentityFile ~/.ssh/github_rsa
Host charon-github
  HostName git.github.com

Host talent-github
  HostName git.github.com

Host hulk
  HostName 195.117.191.114

Host development
  HostName 192.168.56.101
  IdentityFile ~/.ssh/devel_vm_rsa

Host bb-xen
  User root
  Hostname 176.9.80.203
  IdentityFile	 ~/.ssh/bonusbox_rsa

Host bb-ci
  User artur.roszczyk
  Hostname 176.9.130.52
  IdentityFile ~/.ssh/bonusbox_rsa

Host core-production
  User deploy
  Hostname 176.9.130.51
  IdentityFile	 ~/.ssh/bonusbox_rsa

Host core-staging
  User deploy
  Hostname 176.9.80.118
  IdentityFile	 ~/.ssh/bonusbox_rsa

Host media-production
  User deploy
  Hostname 176.9.130.51
  IdentityFile	 ~/.ssh/bonusbox_rsa

Host toadie-production
  User deploy
  Hostname 176.9.130.51
  IdentityFile   ~/.ssh/bonusbox_rsa

